if SHIELD_POND_LEFT

config ZMK_KEYBOARD_NAME
    default "Pond Board"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif 

if SHIELD_POND_LEFT || SHIELD_POND_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_POND_LEFT || SHIELD_POND_RIGHT
